/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}
.container {
    background-color: #FFFFFF;
}

/* Everything gets side spacing for mobile first views */
.header {
    padding-right: 15px;
    padding-left: 15px;
    /* Custom page header */
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    padding-bottom: 19px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}
.left {
    float:left;
}
.clear {
    clear: both
}

.text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}

/* color for fontawesome icons */
.fa-check {
    color: green;
}

.fa-exclamation-triangle {
    color: orange;
}

.fa-exclamation {
    color: red;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 1230px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header {
        padding-right: 0;
        padding-left: 0;
        /* Space out the masthead */
        margin-bottom: 30px;
    }
}